<section class="date-section section section--blue countdown text-center">
    <div class="container">
        <div class="date-section__flowers m-auto">
            <img src="img/date-flowers.png" alt="flowers">
        </div>
        <div class="date-section__block">
            <div class="d-inline-block">
                <h2 class="title--special">June 11th, 2019</h2>
                <h3 class="date-section__place">
                    The Riverside Church<br>
                    New York, USA
                </h3>
            </div>
        </div>
        <div id="timer" class="timer d-flex justify-content-center">
            <div class="timer-item">
                <span class="days timer__digit"></span>
                <div class="timer__text">days</div>
            </div>
            <div class="timer-item">
                <span class="hours timer__digit"></span>
                <div class="timer__text">hours</div>
            </div>
            <div class="timer-item">
                <span class="minutes timer__digit"></span>
                <div class="timer__text">minutes</div>
            </div>
            <div class="timer-item">
                <span class="seconds timer__digit"></span>
                <div class="timer__text">seconds</div>
            </div>
        </div>
    </div>
</section>