<section id="gallery" class="gallery section text-center">
    <div class="d-none d-lg-block gallery__flower-prlx-l position-absolute parallax">
        <img src="img/gallery-prlx-l.png" alt="flower">
    </div>
    <div class="d-none d-lg-block gallery__flower-prlx-r position-absolute parallax">
        <img src="img/gallery-prlx-r.png" alt="flower">
    </div>
    <div class="container position-relative">
        <h1 class="title">Gallery</h1>
        <p class="subtitle mx-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="gallery__slider">
            <div class="slick-gallery slick mb-0">
                <div class="slider__item">
                    <img src="img/slider/gallery-1.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-2.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-3.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-4.jpg" alt="slider">
                </div>
                <div class="slider__item">
                    <img src="img/slider/gallery-5.jpg" alt="slider">
                </div>
            </div>
            <div class="gallery__slider-num d-none d-lg-flex">
                <div class="gallery__slider-current pr-1"></div>
                <div class="pr-1">from</div>
                <div class="gallery__slider-all"></div>
            </div>
        </div>
    </div>
</section>