<section id="gallery" class="gallery section text-center">
    <div class="d-none d-lg-block gallery__flower-prlx-l position-absolute parallax">
        <img src="img/gallery-prlx-l.png" alt="flower">
    </div>
    <div class="d-none d-lg-block gallery__flower-prlx-r position-absolute parallax">
        <img src="img/gallery-prlx-r.png" alt="flower">
    </div>
    <div class="container position-relative">
        <h1 class="title">Gallery</h1>
        <p class="subtitle mx-auto">{{ page.images.gallery_description }}</p>
        <div class="gallery__slider">
            <div class="slick-gallery slick mb-0">

                {% for image in page.images.gallery_images %}    
                <div class="slider__item">
                    <img src="{{ site.baseurl }}{{ image }}" alt="slider" />
                </div>

            {% endfor %}
            </div>
            <div class="gallery__slider-num d-none d-lg-flex">
                <div class="gallery__slider-current pr-1"></div>
                <div class="pr-1">from</div>
                <div class="gallery__slider-all"></div>
            </div>
        </div>
    </div>
</section>