<section class="gifts section section--blue text-center">
    <div class="container">
        <h1 class="title">Wishing Well</h1>
        <p >{{ page['gift description'] | markdownify }}</p>
        <!-- <div class="wishes__slider">
            <div class="slick slick-gifts mb-0 pb-0">
                <div class="slider__item">
                    <img class="m-auto" src="img/gift1.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift2.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift3.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift4.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift1.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift2.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift3.png" alt="gift">
                </div>
                <div class="slider__item">
                    <img class="m-auto" src="img/gift4.png" alt="gift">
                </div>
            </div> -->
        </div>
    </div>
</section>