<section class="wishes section text-center">
    <div class="container">
        <h1 class="title">Wishes</h1>
        <p class="subtitle m-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
        <div class="wishes__slider">
            <div class="slick slick-wishes mb-0">
                <div class="slider__item">
                    <div class="wishes__person">
                        <img class="rounded-circle m-auto" src="img/person1.jpg" alt="slider">
                    </div>
                    <h4 class="wishes__title font-weight-bold">Alex Cooper</h4>
                    <p class="mx-auto">"With warm congratulations to a very special pair. May you always find in each other the love, laughter and happiness that only partners in life share!"</p>
                </div>
                <div class="slider__item">
                    <div class="wishes__person">
                        <img class="rounded-circle m-auto" src="img/person2.jpg" alt="slider">
                    </div>
                    <h4 class="wishes__title font-weight-bold">Mary Alen</h4>
                    <p class="mx-auto">"True love stories never end! Happy wedding day and may there be many more chapters in the wonderful story of your love for one another."</p>
                </div>
                <div class="slider__item">
                    <div class="wishes__person">
                        <img class="rounded-circle m-auto" src="img/person3.jpg" alt="slider">
                    </div>
                    <h4 class="wishes__title font-weight-bold">John Colen</h4>
                    <p class="mx-auto">"A wedding wish for two special person: love is best when shared by two. You know that together you are stronger, together you are one. Have a wonderful married life!"</p>
                </div>
            </div>
        </div>
    </div>
</section>